/* styles.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    #description {
        @apply max-h-48 overflow-hidden;
    }

    #description.expanded {
        @apply max-h-none;
    }

    #description.expanded + button svg {
        @apply rotate-180;
    }
}

@font-face {
    font-family: 'Outfit Variable';
    src: url('/static/fonts/outfit-latin-wght-normal.woff2') format('woff2-variations');
    font-weight: 100 900;
}
  
@font-face {
    font-family: 'Young Serif';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/static/fonts/young-serif/young-serif-latin.woff2') format('woff2');
}

@layer base {
    body {
      @apply font-primary;
    }
}