<!DOCTYPE html>
<html>
<head>
    <title>{{ book[1] }} - Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 style="color: white">L I B A R A X I A</h1>
    <div class="container">
        <h1>{{ book[1] }}</h1> <!-- Book Title -->
        <div class="book-detail-header">
            <!-- Book Cover Image -->
            <div class="book-cover">
                {% if book.cover_image_url %}
                    <img src="{{ url_for('static', filename=book['cover_image_url']) }}" alt="Book Image" width="250">
                {% else %}
                    <p>No Image Available</p>
                {% endif %}
            </div>
        
            <!-- Book Details -->
            <div class="book-info">
                <p><strong>Author:</strong> {{ book[2] }}</p>
                <p><strong>Publisher:</strong> {{ book[3] }}</p>
                <p><strong>Year:</strong> {{ book[4] }}</p>
                <p><strong>Pages:</strong> {{ book[8] }}</p>
                <p><strong>ISBN:</strong> {{ book[5] }}</p>
                <p><strong>Read:</strong> {{ "Yes" if book[7] else "No" }}</p>
		<p><strong>Book Description:</strong> {{ book[10] }}</p><br>
            </div>
        </div>

    </div>
    <div class="action-links">
        <a href="/edit/{{ book[0] }}" class="edit-link">Edit</a>
        <a href="/delete/{{ book[0] }}" onclick="return confirm('Are you sure?')" class="delete-link">Delete</a>
        <a href="{{ url_for('index') }}" class="details-back-to-list-link">Back to Catalog</a>   
    </div>
</body>
</html>

