<!DOCTYPE html>
<html>
<head>
    <title>Your Collections</title>
</head>
<body>
    <h1>Your Collections</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for collection in collections %}
            <tr>
                <td>{{ collection['title'] }}</td>
                <td>{{ collection['status'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
