<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L I B A R A X I A</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include '_sidebar.html' %}

    <h1>Your Collections</h1>
    <div class="back-to-list">
        <a href="{{ url_for('base.index') }}" class="back-to-list-link">Back to Catalog</a>
    </div>
    <div class="collection-links">
        <a href="{{ url_for('collections.view_by_status', status='read') }}" class="add-book-link">Read</a> 
        <a href="{{ url_for('collections.view_by_status', status='currently reading') }}"class="add-book-link">Currently Reading</a> 
        <a href="{{ url_for('collections.view_by_status', status='want to read') }}" class="add-book-link">Want to Read</a>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
