<!DOCTYPE html>
<html>
<head>
    <title>ataraxia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1><a href="/" style="color: white">A T A R A X I A</a></h1>
    <!-- Add a search form above or below the book list -->
    <form method="GET" action="{{ url_for('search') }}" enctype="multipart/form-data">
        <a href="/add" class="add-book-link">Add Book<a/>
        <input type="text" id="search_term" name="search_term" placeholder="Search Catalog by title, author, year..." value="{{ request.args.get('search_term', '') }}">
        <button class="form button" type="submit">Search</button>
    </form>
    <a></a> <!-- I had to put this in, or else there was an empty spot at the beginning of the grid? strange. -->
   
    <!-- sort content section -->
    <div class="sort-buttons">
    <form method="get" action="/">
        <label for="sort_by">Sort By:</label>
        <select name="sort_by" id="sort_by">
            <option value="title">Title</option>
            <option value="author">Author</option>
            <option value="publish_year">Year Published</option>
            <option value="created_at">Date Added</option>
        </select>

        <label for="sort_order">Order:</label>
        <select name="sort_order" id="sort_order">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>

        <button type="submit">Sort</button>
    </form>
    </div>



    <!-- Grid for displaying books -->
    <div class="book-grid">
        {% for book in books %}
        <div class="book-tile">
            <!-- Make the entire tile clickable -->
            <a href="/book/{{ book[0] }}" style="text-decoration: none; color: inherit;">
                <div>
                    {% if book.cover_image_url %}
                        <img src="{{ url_for('static', filename=book['cover_image_url']) }}" alt="Book Image" />
                    {% else %}
                        <p>No Image</p>
                    {% endif %}
                    <h3>{{ book[1] }}</h3> <!-- Book title -->
		    <p>by {{ book[2] }}</p> <!-- Author and Publisher -->
		    <!-- <p>Year: {{ book[4] }} | Pages: {{ book[5] }}</p>-->
		    <!-- <p>Read: {{ "Yes" if book[7] else "No" }}</p> <!-- Read Status -->
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</body>
</html>
