<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=.8">
    <title>libaraxia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>

<body class="bg-primary text-content-primary p-6">
    {% include '_sidebar.html' %}

    <!-- Floating Add Button -->
    <a href="/books/add" 
       class="fixed bottom-6 right-6 px-6 py-4 bg-accent hover:bg-accent-hover
              text-white rounded-full font-bold shadow-lg 
              hover:scale-105 transition-all duration-300 z-50
              flex items-center gap-2">
        <span class="text-lg">+ Add Book</span>
    </a>

    {% include '_search_sort_filter.html' %}

    {% include '_book_grid.html' %}


    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>