<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=.8">
    <title>libaraxia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>

<body>
    {% include '_sidebar.html' %}

    <a href="/books/add" class="floating-button">
        <span class="plus-sign">+ Add Book</span>
    </a>

    {% include '_search_sort_filter.html' %}

    <!-- Book Grid -->
    <div class="book-grid">
        {% for book in books %}
        <div class="book-tile">
            <a href="/books/book/{{ book[0] }}" style="text-decoration: none; color: inherit;">
                <div>
                    {% if book.cover_image_url %}
                    <img src="{{ url_for('static', filename=book['cover_image_url']) }}" alt="Book Image" />
                    {% else %}
                    <p>No Image</p>
                    {% endif %}
                    <h3>{{ book[1] }}</h3>
                    <p>by {{ book[2] }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>