<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body>
<!-- templates/login.html -->
    <form method="POST" action="{{ url_for('auth.login') }}" class="auth-form-container">
        <input placeholder="email" type="email" name="email" required>
        <input placeholder="password" type="password" name="password" required>
        <button type="submit">Login</button>
    </form>
<!--<a href="/register">No account? Register here.</a>-->
</body>
</html>
