<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>{{ book.title }} - Rate & Review</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include '_sidebar.html' %}

    <div class="back-to-list">
        <a href="{{ url_for('base.index') }}" class="back-to-list-link" id="ratepagelistlink">Back to Catalog</a>
    </div>

    <div class="form-container">
        <h1>Rate and Review</h1>
            <p><strong>{{ book.title }}</strong></p>
            <p>by {{ book.author }}</p>
            
        <!-- Book Cover Image -->
        <div class="book-cover">
            {% if book.cover_image_url %}
            <img src="{{ url_for('static', filename=book['cover_image_url']) }}" alt="Book Image" width="250">
            {% else %}
                <p>No Image Available</p>
            {% endif %}
        </div>

        <form action="" method="post" class="form-container">
            <label for="date_read">Date Read:</label>
            <input type="date" id="date_read" name="date_read" value="{{ read_data.date_read if read_data else '' }}">
            
            <label for="rating">Rating:</label>
            <input 
                type="range" 
                id="rating" 
                name="rating" 
                min="1" 
                max="5" 
                step="1" 
                value="{{ read_data.rating if read_data else '3' }}" 
                class="rating-slider"
                oninput="updateRatingValue(this.value)"
            >
            <output id="rating-value">{{ read_data.rating if read_data else '3' }}</output>            
              
            <label for="comment">Review:</label>
            <textarea id="comment" name="comment">{{ read_data.comment if read_data else '' }}</textarea>
        
            <button type="submit">Submit</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
