<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<!-- templates/register.html -->
    <form method="POST" action="{{ url_for('auth.register') }}" class="form-container auth-form-container">
        <input placeholder="username" type="text" name="username" required>
        <input placeholder="email" type="email" name="email" required>
        <input placeholder="password" type="password" name="password" required>
        <button type="submit">Register</button>
        <a href="/auth/login">Already have an account? Login here.</a>
    </form>
</body>
</html>


