<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>libaraxia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body>
    {% include '_sidebar.html' %}

    <a href="/books/add" class="floating-button">
        <span class="plus-sign">+</span>
    </a>

    {% include '_search_sort_filter.html' %}

    <a href="{{ url_for('base.index') }}" class="back-nav" id="ratepagelistlink">
        <span class="back-arrow">←</span>
        <span>Back to Catalog</span>
    </a>

    <a></a> <!-- Had to put this here or else there was a missing tile on the grid-->

    <!-- Grid for displaying books -->
    <div class="book-grid">
        {% for book in books %}
        <div class="book-tile">
            <!-- Make the entire tile clickable -->
            <a href="/books/book/{{ book[0] }}" style="text-decoration: none; color: inherit;">
                <div>
                    {% if book.cover_image_url %}
                        <img src="{{ url_for('static', filename=book['cover_image_url']) }}" alt="Book Image" />
                    {% else %}
                        <p>No Image</p>
                    {% endif %}
                    <h3>{{ book[1] }}</h3> <!-- Book title -->
		    <p>by {{ book[2] }}</p> <!-- Author and Publisher -->
		    <!-- <p>Year: {{ book[4] }} | Pages: {{ book[5] }}</p>-->
		    <!-- <p>Read: {{ "Yes" if book[7] else "No" }}</p> <!-- Read Status -->
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
